
<style>
    .h1 {
        background-image = "~/css/favicon.png"
    }

</style>
<div class="text-center" id="h1" >

    <h1 class="display-4">ApexVolley</h1>
    <hr />
    
</div>
<div class="text-wrap">
   
</div>